@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
      font-family: 'Alphabetized Cassette Tapes Thin';
      font-style: normal;
      font-weight: 300;
      src: url('../assets/Alphabetized Cassette Tapes Thin.ttf')
        format('truetype');
    }
  

    @font-face {
      font-family: 'Alphabetized Cassette Tapes Classic';
      font-style: normal;
      font-weight: 400;
      src: url('../assets/Alphabetized Cassette Tapes Classic.ttf')
        format('truetype');
    }

    @font-face {
      font-family: 'Alphabetized Cassette Tapes';
      font-style: normal;
      font-weight: 400;
      src: url('../assets/Alphabetized Cassette Tapes.ttf') format('truetype');
    }
  
  }
  
  .custom-gradient {
    background-image: linear-gradient(
      to right,
      #f0fbb9 0%,
      #fbb3a0 10%,
      #bfa2fd 60%,
      #a4d0fc,
      #9fe9e2 90%,
      #9fface
    );
    opacity: 0.6;
  }
  
  .icon:hover {
    filter: invert(0);
  }
  